/* reseting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variable */
:root {
    --navbar-border-color: #9E9FA5;
    --navitem-border-color: #4F709C;
    --font-color: #4F709C;
    --btn-bgc-color: #a1b7d3;
}

/* layout */
body {

}

/* Nav bar layout */
nav {
    display: flex;
    gap: 30px;
}

.nav-bar__item {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* dialog box layout */
.alert-box {
    display: flex;
    justify-content: center;
}
.dialog-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* typography */
html {
    font-family: 'Roboto', sans-serif;
}

/* style */
.hidden {
    display: none;
}

body {
    padding: 10px;
    min-height: 100vh;
}

/* Nav bar styling */
nav {
    border-top: 2px solid var(--navbar-border-color);
    border-bottom: 1px solid var(--navbar-border-color);

    height: 60px;
}

.nav-bar__item {
    cursor: pointer;
    height: 100%;
}
.nav-bar__item--current {
    color: var(--font-color);
    border-bottom: 4px solid var(--navitem-border-color);
}

main {
    min-height: 100%;
}

/* dialog box styling */
.open-dialog {
    color: var(--font-color);

    border: none;
    border-radius: 5px;

    padding: 10px;

    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: black;

    z-index: 0;
}
.dialog-box {
    width: 60%;

    padding: 15px;

    border-radius: 8px;

    z-index: 5;

    background-color: #fff;
}
.dialog-box button {
    width: 30%;

    padding: 10px;

    border: none;
    border-radius: 10px;

    background-color: var(--btn-bgc-color);

    color: var(--font-color);
}