/* reseting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variable */
:root {
    /* aler box color */
    --navbar-border-color: #9E9FA5;
    --navitem-border-color: #4F709C;
    --font-color: #4F709C;
    --btn-bgc-color: #a1b7d3;

    /* todo box color */
    --todo-btn-color: #6499E9;
    --todo-font-color: white;
}

/* layout */
body {

}

    /* Nav bar layout */
nav {
    display: flex;
    gap: 30px;
}

.nav-bar__item {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* dialog box layout */
.alert-box {
    display: flex;
    justify-content: center;
}
.dialog-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    /* todo box layout */
.todo-box {
    display: flex;
    flex-direction: column;
}
.todo-box div:last-child {
    display: flex;
    flex-direction: column;
}

    /* form box layout */
.form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-field {

    display: flex;
    flex-direction: column;
}

/* typography */
html {
    font-family: 'Roboto', sans-serif;
}

    /* todo box typography */
.todo-box h3 {
    text-align: center;
}
.todo-box div:last-child button {
    color: var(--todo-font-color);
}

    /* valiadation page typography */
label {
    font-size: 16px;
    font-weight: 300;
}

/* style */
.hidden {
    display: none;
}

body {
    padding: 10px;

    height: 100vh;
    max-height: 100vh;
    position: relative;
}

    /* Nav bar styling */
nav {
    border-top: 2px solid var(--navbar-border-color);
    border-bottom: 1px solid var(--navbar-border-color);

    height: 8%;
}

.nav-bar__item {
    cursor: pointer;
    height: 100%;
}
.nav-bar__item--current {
    color: var(--font-color);
    border-bottom: 4px solid var(--navitem-border-color);
}

main {
    min-height: 92%;
}

    /* dialog box styling */
.open-dialog {
    color: var(--font-color);

    border: none;
    border-radius: 5px;

    padding: 10px;

    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.2;

    z-index: 4;
}
.dialog-box {
    width: 60%;

    padding: 15px;

    border-radius: 8px;

    z-index: 5;

    background-color: #fff;
}
.dialog-box button {
    width: 30%;

    padding: 10px;

    border: none;
    border-radius: 10px;

    background-color: var(--btn-bgc-color);

    color: var(--font-color);
}

    /* todo box styling */
.todo-box, .todo-box div:last-child {
    gap: 10px;
}

.todo-box input[type=text] {
    height: 40px;
    border: 2px solid black;
    border-radius: 7px;

    padding: 10px;
    
    outline: none;
}
.todo-box input[type=text]:focus {
    border-color: var(--todo-btn-color);
}

.todo-box ul {
    border-bottom: 1px solid gray;
}

.todo-box div:last-child button {
    width: 50%;

    padding: 10px;

    border: none;
    border-radius: 10px;

    background-color: var(--todo-btn-color);
}

    /* viladation page styling */
.input-field {
    
}