/* reseting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variable */
:root {
    --navbar-border-color: #9E9FA5;
    --navitem-border-color: #4F709C;
}

/* layout */
body {
    min-height: 100vh;
}

nav {
    display: flex;
    gap: 30px;
}

.nav-bar__item {
    display: flex;
    align-items: center;
}

/* typography */
html {
    font-family: 'Roboto', sans-serif;
}

/* style */
body {
    padding: 10px;
}
nav {
    border-top: 2px solid var(--navbar-border-color);
    border-bottom: 1px solid var(--navbar-border-color);

    height: 60px;
}

.nav-bar__item {
    cursor: pointer;
    height: 100%;
}
.nav-bar__item--current {
    color: var(--navitem-border-color);
    border-bottom: 4px solid var(--navitem-border-color);
}